The last line should be ignored if it's empty

Thanks for the great work on this project.  It fits my needs perfectly except for one minor detail.  According to section 2 of RFC 4180, "The last record in the file may or may not have an ending line break."  But if I parse a file that ends with a newline character, the parser returns an array ending with a nearly empty record that corresponds to the empty line at the end of the file.  The record contains a key for the first column, but no other data.  The parser should ignore the empty row at the end of the file.


Regarding "an ending line break": I lack an example file that would trigger any surprise. Of the files and strings tested by PHPUnit tests, some have ending line breaks, others have not.

Unfortunately I cannot improve the parsing code without an example showing a bug.

If you come across a problematic file, please attach it and re-open this issue.